# Ejercicio 1

Crea, a partir de un diccionario, un DataFrame llamado *data* con los datos de la tabla siguiente, consulta su índice y los tipos de datos de sus columnas:


|Mes|Ventas|Gastos|
| - | - | - |
|Enero| 30500|22000|
|Febrero|34120|23400|
|Marzo|31200|25112|

*Nota: La columna Mes ha de ser el index

In [ ]:
# Opción 1
import pandas as pd

data_dict = {
    "Mes": ['Enero', 'Febrero', 'Marzo'],
    "Ventas": [30500, 34120, 31200],
    "Gastos": [22000, 23400, 25112]
}

data = pd.DataFrame(data_dict)
data.set_index('Mes', inplace=True)
data

In [ ]:
# Opción 2
import pandas as pd

index_array = ['Enero', 'Febrero', 'Marzo']
data_dict = {
    "Ventas": [30500, 34120, 31200],
    "Gastos": [22000, 23400, 25112]
}

data = pd.DataFrame(data_dict, index=index_array)

# Podemos asignar un nombre al índice escribiendo sobre su atributo name
data.index.name = 'Mes'

data

In [ ]:
data.index

In [ ]:
data.dtypes

# Ejercicio 2

Ejecuta la siguiente celda para inicializar el entorno de prueba antes de realizar los ejercicios 2 y 3:

In [ ]:
####################  ESTE TROZO DE CÓDIGO NOS CREARÁ UNA PEQUEÑA BASE DE DATOS PARA UTILIZAR DE EJEMPLO. ####
####################   NO ES NECESARIO QUE LO APRENDAIS, SOLO EJECUTARLO UNA VEZ                          ####
# Importamos SQLite
import sqlite3 
import pandas as pd
# conectamos a la BD
db_con = sqlite3.connect(r'database.db') #recordar utilizar la variable db_con para leer de la base de datos!:)
# Leemos todos los csvs
c = pd.read_csv("https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/customers.csv")
o = pd.read_csv("https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/orders.csv")
r = pd.read_csv("https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/returns.csv")
p = pd.read_csv("https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/products.csv")
# Escribimos los csvs como tablas en la base de datos.
c.to_sql('customers', db_con, if_exists='replace', index=False) 
o.to_sql('orders', db_con, if_exists='replace', index=False) 
r.to_sql('returns', db_con, if_exists='replace', index=False) 
p.to_sql('products', db_con, if_exists='replace', index=False)

**Ejercicio 2.a** 
Lee los archivos utilizando las siguientes URLs y guardalos en DataFrames.

`url_customers = "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/customers.csv"`

`url_products = "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/products.csv"`

In [ ]:
url_customers = "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/customers.csv"
url_products = "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/products.csv"

customers = pd.read_csv(url_customers)
products = pd.read_csv(url_products)

In [ ]:
customers.head()

In [ ]:
products.head()

**Ejercicio 2.b** Utilizando SQL, lee de la base de datos la tabla clientes y la tabla orders y guardalos en dataframes distintos

In [ ]:
orders = pd.read_sql("SELECT * FROM orders", db_con)
customers = pd.read_sql("SELECT * FROM customers", db_con)

In [ ]:
orders.head()

In [ ]:
products.head()

**Ejercicio 2.c** Utilizando SQL, lee los pedidos de la tabla orders correspondientes al año 2015.

In [ ]:
orders2015 = pd.read_sql("SELECT * FROM orders WHERE Order_Date>='2015-01-01' and Order_Date<'2016-01-01'", db_con)
orders2015

**Ejercicio 2.d** **DIFICIL**  Utilizando SQL, lee los pedidos de la tabla orders correspondientes al año 2015, y mezclalo con un JOIN con la informacion del cliente.

In [ ]:
orders_with_customers = pd.read_sql("SELECT * FROM orders AS t1 JOIN customers AS t2 ON t1.Customer_ID = t2.Customer_ID WHERE Order_Date>='2015-01-01' and Order_Date<'2016-01-01'", db_con)
orders_with_customers

# Ejercicio 3

Vamos a jugar con un dataframe resultado de mezclar la tabla de pedidos con la tabla de productos.

In [ ]:
order_and_products = pd.read_sql("SELECT * FROM orders JOIN products ON orders.Product_ID = products.Product_ID", db_con)
order_and_products.head()

**Ejercicio 3.a** Crea un índice sobre el dataframe para poder recuperar datos de una fila en concreto de una forma más cómoda. Posteriormente, recupera los datos del Order_ID CA-2015-155453

In [ ]:
order_and_products.set_index("Order_ID", inplace=True)

In [ ]:
order_and_products.loc["CA-2015-155453"]

**Ejercicio 3.b**
Consigue los datos de las filas 300 a 500

In [ ]:
order_and_products[300:500]

**Ejercicio 3.c** Recupera la columna con las fechas de pedido.

In [ ]:
order_and_products["Order_Date"]
#order_and_products.Order_Date   #también funciona

**Ejercicio 3.d** Consigue los datos de las filas 300 en adelante, pero solo las columnas Order_Date y Category. Recuerda, tendrás que utilizar .loc[]

In [ ]:
#reseteamos el indice para poder localizar las filas por su número en lugar de su id de pedido

order_and_products.reset_index(drop=True, inplace=True)

In [ ]:
order_and_products.loc[0:500, ["Order_Date", "Category"]]

In [ ]:
# De la siguiente forma, utilizando iloc, podemos acceder segun el número de las filas y columnas. iloc no incluye el límite superior por o que añadimos una fila adicional.
order_and_products.iloc[0:501, [1,7]]

**Ejercicio 3.e** Recupera todas las filas de los pedidos correspondientes a la categoría "Office Supplies"

In [ ]:
order_and_products[order_and_products.Category == "Office Supplies"]

**Ejercicio 3.f** Recupera todas las filas correspondientes a la categoría "Technology" y cuyo precio sea mayor que 30.

In [ ]:
order_and_products[(order_and_products.Category == "Technology") & (order_and_products.Price > 30) ]

**Ejercicio 3.g** Crea una nueva columna "Amount" que multiplique multiplique la cantidad y el precio, lo que forma el total de esa linea de pedido

In [ ]:
order_and_products["Amount"] = order_and_products["Quantity"] * order_and_products["Price"]
order_and_products

**Ejercicio 3.h** ¿Hay alguna línea de pedido que supere los 6000 de importe?

In [ ]:
order_and_products[order_and_products["Amount"]>6000]

**Ejercicio 3.i** Utilizando SQL, junta la tabla de Pedidos, Clientes y Productos y calcula que segmento de clientes ha facturado más. Para ello tienes que usar la columna Price y Quantity. Guarda el resultado en un DataFrame. ¿Cuál es el segmento de cliente que más ha facturado?

In [ ]:
dataframe = pd.read_sql("""
SELECT 
  Segment, 
  sum(Quantity * Price) as total
FROM orders 
JOIN customers ON orders.Customer_ID = orders.Customer_ID 
JOIN products ON products.Product_ID=orders.Product_ID 
GROUP BY Segment
ORDER BY total desc""", db_con)

dataframe

# EJERCICIO EXTRA

Utiliza lo aprendido en esta sesión para completar las siguientes acciones en un dataset de precios de casas en Ames, Iowa (USA). 

Fuente: http://jse.amstat.org/v19n3/decock.pdf

Dataset info: https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data

URL del fichero: "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/house_prices.csv"

También puedes descargarlo de Kaggle y leerlo como un fichero local.

1. Lee el csv con pandas
2. Obtén el número de filas y columnas del dataframe
3. Obtén los nombres de las columnas del dataframe
4. Obtén un dataframe con los datos de las casas construidas antes de 1999 con 3 habitaciones o más (columna BedroomAbvGr) y de tipo unifamiliar (BldgType == "1Fam") y expórtalo como csv.
5. Lee el csv resultante y cambia los valores de la columna de 'CentralAir' de 'Y' y 'N' a 'Yes' y 'No'.
6. Del dataframe resultante Selecciona solo aquellas filas que tengan info sobre la calidad de la chimenea, es decir, cuya valor en la columna FireplaceQu no sea nulo.
7. Trabajas en la inmobiliaria que está vendiendo las casas del dataset origial completo. La inmobiliaria ha decidido aplicar un descuento del 10% a aquellas casas con más de 20 años sin remodelar, un 5% de descuento a aquellas casas que tienen entre 15 y 20 años sin remodelar (desde el año de la última remodelación: YearRemodAdd) y 0% a las demás. Crea una columna llamada DiscountPerc que registre estos descuentos y otra columna DiscountedPrice con el precio final de la casa aplicando el descuento sobre la columna SalePrice.

In [ ]:
# 1
import pandas as pd
url_house_prices = "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/house_prices.csv"

house_prices = pd.read_csv(url_house_prices)
house_prices.head()

In [ ]:
# 2
house_prices.shape

In [ ]:
# 3
house_prices.columns

In [ ]:
# 4
# Se pueden concatenar acciones
house_prices.loc[(house_prices.YearBuilt < 1999) & (house_prices.BedroomAbvGr >= 3) & (house_prices.BldgType == "1Fam")].to_csv('house_prices_filtered.csv')

In [ ]:
# 5 
house_prices_filtered = pd.read_csv('house_prices_filtered.csv')
house_prices_filtered.shape

In [ ]:
# 5 
house_prices_filtered.loc[house_prices_filtered.CentralAir == 'Y', ['CentralAir']] = 'Yes'
house_prices_filtered.loc[house_prices_filtered.CentralAir == 'N', ['CentralAir']] = 'No'
house_prices_filtered[['Id', 'CentralAir']].head(10)

In [ ]:
# 6 
house_prices_filtered.loc[house_prices_filtered['FireplaceQu'].notnull()]

In [ ]:
# 7
# Trabajas en la inmobiliaria que está vendiendo las casas del dataset. 
# La inmobiliaria ha decidido aplicar un descuento del 10% a aquellas casas con más de 15 años sin r y un 5% de descuento a aquellas casas que tienen entre 12 y 15 años 
# (desde el año de la última remodelación: YearRemodAdd). Crea una columna llamada Discount_perc que registre estos descuentos y 
# otra columna con el precio final de la casa aplicando el descuento sobre la columna SalePrice.
url_house_prices = "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/house_prices.csv"

house_prices = pd.read_csv(url_house_prices)

current_year = 2022
house_prices.loc[house_prices.YearRemodAdd < (current_year-20), 'Discount_perc'] = 0.1
house_prices.loc[(house_prices.YearRemodAdd >= (current_year-20)) & (house_prices.YearRemodAdd < (current_year-15)), 'Discount_perc'] = 0.05
house_prices.loc[house_prices.Discount_perc.isnull(), 'Discount_perc'] = 0

house_prices['Discounted_Price'] = house_prices['SalePrice'] * (1-house_prices['Discount_perc'])

house_prices.sample(20)