# Ejercicio 1

En esta serie de ejercicios vamos a practicar a renombrar, juntar y combinar DataFrames haciendo uso de las funciones rename(), concat(), merge() y join(). Ejecuta el siguiente código antes de empezar para importar Pandas y definir las URL de los ficheros:

In [ ]:
import pandas as pd

url_customers = "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/customers.csv"
url_products = "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/products.csv"
url_orders = "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/orders.csv"
url_returns = "https://raw.githubusercontent.com/cpinuaga/carlospinuagathevalley-IntroPandas2022/main/returns.csv"

**Ejercicio 1.a** 

Lee el archivo de Orders en un DataFrame.  Partelo en dos dataframes de aprox la mitad de tamaño. Comprueba que efectivamente,los nuevos dataframes tienen la mitad de filas con la funcion len() y muestralo con la funcion print().

In [ ]:
orders = pd.read_csv(url_orders)

print(len(orders))
orders1 = orders[0:6000]
orders2 = orders[5000:]

print(len(orders1))
print(len(orders2))

**Ejercicio 1.b** Vuelve a juntar los dos dataframes que creaste en el ejercicio anterior, haciendo uso de la función concat()

In [ ]:
orders3 = pd.concat([orders1, orders2])
orders3

**Ejercicio 1.c**


Utilizando la función merge(), une los datos de los pedidos (orders) y clientes (customers) realizando un cruce por la izquierda.

In [ ]:
customers = pd.read_csv(url_customers)

orders.merge(customers, how="left", on="Customer_ID")

**Ejercicio 1.d** Hazlo esta vez utilizando la funcion join(), para lo que tendras que indicar el index.

In [ ]:
orders.join(customers.set_index("Customer_ID"), on="Customer_ID")

**Ejercicio 1.e**
Cambia el nombre de la columna 'Product_ID' de la tabla de órdenes por 'Purchased product ID':

In [ ]:
orders = orders.rename(columns={"Product_ID": "Purchased product ID"})
orders

     Customer_ID        Order_ID  ... Purchased product ID Quantity
0       MG-17875  CA-2014-103744  ...      OFF-LA-10004425        3
1       MG-17875  CA-2014-103744  ...      OFF-BI-10000320        3
2       DE-13255  CA-2014-109134  ...      FUR-FU-10000320        6
3       MD-17350  CA-2014-114251  ...      FUR-FU-10001468        2
4       MD-17350  CA-2014-114251  ...      OFF-BI-10003684        2
...          ...             ...  ...                  ...      ...
9989    DR-12880  CA-2017-161956  ...      OFF-ST-10001370        5
9990    DR-12880  CA-2017-161956  ...      FUR-CH-10004886        3
9991    DR-12880  CA-2017-161956  ...      OFF-BI-10003650        2
9992    DR-12880  CA-2017-161956  ...      OFF-PA-10001289        3
9993    DR-12880  CA-2017-161956  ...      OFF-AP-10001242        4

[9994 rows x 7 columns]

**Ejercicio 1.f**
Lee los datos de products y crúzalos con los datos de orders indicando la columna por la que cruzar en cada DataFrame. Asegura que solo te quedas con los productos que aparecen en ambos DataFrames haciendo un inner join.

In [ ]:
products = pd.read_csv(url_products)
products.merge(orders, how='inner', left_on='Product_ID', right_on='Purchased product ID')

            Product_ID         Category  ... Purchased product ID Quantity
0      FUR-BO-10000112        Furniture  ...      FUR-BO-10000112        9
1      FUR-BO-10000330        Furniture  ...      FUR-BO-10000330        4
2      FUR-BO-10000330        Furniture  ...      FUR-BO-10000330        4
3      FUR-BO-10000330        Furniture  ...      FUR-BO-10000330        2
4      FUR-BO-10000362        Furniture  ...      FUR-BO-10000362        6
...                ...              ...  ...                  ...      ...
10326  OFF-EN-10003286  Office Supplies  ...      OFF-EN-10003286        3
10327  OFF-EN-10004773  Office Supplies  ...      OFF-EN-10004773        2
10328  OFF-EN-10004773  Office Supplies  ...      OFF-EN-10004773        8
10329  OFF-EN-10004773  Office Supplies  ...      OFF-EN-10004773        2
10330  OFF-EN-10004773  Office Supplies  ...      OFF-EN-10004773        3

[10331 rows x 12 columns]

# Ejercicio 2

En este ejercicio vamos a practicar a trasnformar  nuestro dataframe con las funciones map() apply() y las funciones lambda.

In [ ]:
#Ejecuta este código para trabajar con el DataFrame de Pedidos y Productos
orders = pd.read_csv(url_orders)
products = pd.read_csv(url_products)
orders_and_products = orders.merge(products, how="left", on="Product_ID")
orders_and_products.head()

  Customer_ID        Order_ID  ...                          Product_Name  Price
0    MG-17875  CA-2014-103744  ...                      Staple-on labels  208.0
1    MG-17875  CA-2014-103744  ...             GBC Plastic Binding Combs   78.0
2    DE-13255  CA-2014-109134  ...                    OIC Stacking Trays  351.0
3    MD-17350  CA-2014-114251  ...  Tenex Antistatic Computer Chair Mats  456.0
4    MD-17350  CA-2014-114251  ...  Wilson Jones Legal Size Ring Binders  443.0

[5 rows x 11 columns]

**Ejercicio 2.a** Crea una función que convierta de Dolares a Euros, utilizando el tipo de cambio 0.82€.

Utilizando map(), crea una nueva columna Price_Eur que convierta Price  (suponiendo que está en dólares) a Euros, con la función que declaraste anteriormente.


Prueba también con apply(), ¿funciona igual?

In [ ]:
def convierte_euros(x):
  return x * 0.82
orders_and_products["Price_Eur"] = orders_and_products["Price"].map(convierte_euros)
orders_and_products.head()

  Customer_ID        Order_ID  ...  Price Price_Eur
0    MG-17875  CA-2014-103744  ...  208.0    170.56
1    MG-17875  CA-2014-103744  ...   78.0     63.96
2    DE-13255  CA-2014-109134  ...  351.0    287.82
3    MD-17350  CA-2014-114251  ...  456.0    373.92
4    MD-17350  CA-2014-114251  ...  443.0    363.26

[5 rows x 12 columns]

In [ ]:
orders_and_products["Price_Eur"] = orders_and_products["Price"].apply(convierte_euros)
orders_and_products.head()

  Customer_ID        Order_ID  ...  Price Price_Eur
0    MG-17875  CA-2014-103744  ...  208.0    170.56
1    MG-17875  CA-2014-103744  ...   78.0     63.96
2    DE-13255  CA-2014-109134  ...  351.0    287.82
3    MD-17350  CA-2014-114251  ...  456.0    373.92
4    MD-17350  CA-2014-114251  ...  443.0    363.26

[5 rows x 12 columns]

**Ejercicio 2.b** Crea una nueva columna "Amount" que sea el resultado de multiplicar Price y Quantity utilizando una funcion lambda y apply().

In [ ]:
orders_and_products["Amount"] = orders_and_products.apply(lambda x: x["Price"] * x["Quantity"], axis=1)
orders_and_products.head()

  Customer_ID        Order_ID  Order_Date  ...  Price Price_Eur  Amount
0    MG-17875  CA-2014-103744  2014-02-23  ...  208.0    170.56   624.0
1    MG-17875  CA-2014-103744  2014-02-23  ...   78.0     63.96   234.0
2    DE-13255  CA-2014-109134  2014-11-05  ...  351.0    287.82  2106.0
3    MD-17350  CA-2014-114251  2014-11-05  ...  456.0    373.92   912.0
4    MD-17350  CA-2014-114251  2014-11-05  ...  443.0    363.26   886.0

[5 rows x 13 columns]

**Ejercicio 2.c** Ahora, aplica la funcion Apply() sobre las filas del dataframe (tendrás que itilizar axis=1 para ello), y crea una lambda  o una función que calcule un descuento utilizando la columna "Amount" del ejercicio anterior.

Si la subcategoría es "Furnishings" o "Labels" que aplique un 12% de descuento, si no, un 7%.

Guarda el resultado en una columna nueva llamada por ejemplo, "Discounted_Amount", pero puedes poner el nombre que quieras.

In [ ]:
orders_and_products["Discounted_Price"] = orders_and_products.apply(lambda x: x["Amount"] * 0.88 if x["Sub_Category"] in ["Furnishings","Labels"] else x["Amount"]*0.93, axis=1)
orders_and_products.head()

  Customer_ID        Order_ID  Order_Date  ... Price_Eur  Amount Discounted_Price
0    MG-17875  CA-2014-103744  2014-02-23  ...    170.56   624.0           549.12
1    MG-17875  CA-2014-103744  2014-02-23  ...     63.96   234.0           217.62
2    DE-13255  CA-2014-109134  2014-11-05  ...    287.82  2106.0          1853.28
3    MD-17350  CA-2014-114251  2014-11-05  ...    373.92   912.0           802.56
4    MD-17350  CA-2014-114251  2014-11-05  ...    363.26   886.0           823.98

[5 rows x 14 columns]

In [ ]:
# Alternativa usando una función
def calc_discount(x):
  if x["Sub_Category"] in ["Furnishings","Labels"]:
    return x["Amount"] * 0.88
  else:
    return x["Amount"]*0.93

orders_and_products["Discounted_Price"] = orders_and_products.apply(calc_discount, axis=1)
orders_and_products.head()

  Customer_ID        Order_ID  Order_Date  ... Price_Eur  Amount Discounted_Price
0    MG-17875  CA-2014-103744  2014-02-23  ...    170.56   624.0           549.12
1    MG-17875  CA-2014-103744  2014-02-23  ...     63.96   234.0           217.62
2    DE-13255  CA-2014-109134  2014-11-05  ...    287.82  2106.0          1853.28
3    MD-17350  CA-2014-114251  2014-11-05  ...    373.92   912.0           802.56
4    MD-17350  CA-2014-114251  2014-11-05  ...    363.26   886.0           823.98

[5 rows x 14 columns]

**Ejercicio 2.c** Ahora agrupa el dataset por cliente y suma amount para ver cuanto se ha gastado cada uno. Ordena el resultado para saber qué clientes han gastado más.

In [ ]:
orders_and_products.groupby(by="Customer_ID")["Amount"].agg("sum").sort_values(ascending=False)

Customer_ID
PP-18955    94162.0
WB-21850    85122.0
JL-15835    71166.0
EP-13915    67860.0
CB-12025    63125.0
             ...
JR-15700     1821.0
RM-19750     1723.0
RE-19405     1610.0
AO-10810     1450.0
CJ-11875      195.0
Name: Amount, Length: 793, dtype: float64

**Ejercicio 2.d** Esta vez agrupa por cliente y categoría y utiliza la funcion agg para sumar (función sum) la columna amount y contar ids únicos (función nunique()) de productos diferentes. Veremos cuanto ha gastado cada cliente por categoría.

In [ ]:
orders_and_products.groupby(by=["Customer_ID", "Category"]).agg({"Amount": "sum", "Product_ID": "nunique"})

                              Amount  Product_ID
Customer_ID Category
AA-10315    Furniture          452.0           1
            Office Supplies   9046.0           8
            Technology        5515.0           2
AA-10375    Furniture          790.0           1
            Office Supplies  18935.0          11
...                              ...         ...
ZC-21910    Office Supplies  30780.0          17
            Technology       16719.0           6
ZD-21925    Furniture         6089.0           2
            Office Supplies   7383.0           4
            Technology        4886.0           3

[2182 rows x 2 columns]

**Ejercicio 2.e**
Crea una columna que categorice los productos según su precio.
* Barato: menor que 300
* Estándar: mayor o igual que 300 y menor que 800
* Premium: mayor o igual que 800

Después encuentra el cliente que mayor número de productos Premium ha comprado, y el cliente que más productos Baratos ha comprado.

In [ ]:
def calc_price_category(x):
  if x['Price'] < 300:
    return 'Barato'
  elif x['Price'] >= 300 and x['Price'] < 800:
    return 'Estándar'
  elif x['Price'] >= 800:
    return 'Premium'

orders_and_products['Price_Category'] = orders_and_products.apply(calc_price_category, axis=1)

orders_and_products[orders_and_products['Price_Category'] == 'Premium'].groupby(by=["Customer_ID"])['Quantity'].agg('sum').sort_values(ascending=False)

Customer_ID
PP-18955    42
TT-21070    39
JH-15985    38
LA-16780    37
MM-18055    36
            ..
PM-18940     1
MH-17620     1
RB-19705     1
GW-14605     1
SL-20155     1
Name: Quantity, Length: 697, dtype: int64

In [ ]:
orders_and_products[orders_and_products['Price_Category'] == 'Barato'].groupby(by=["Customer_ID"])['Quantity'].agg('sum').sort_values(ascending=False)

Customer_ID
MA-17560    67
JD-15895    59
PK-19075    58
SC-20725    56
EH-13765    52
            ..
RS-19870     1
JL-15175     1
NF-18475     1
RM-19750     1
AS-10135     1
Name: Quantity, Length: 750, dtype: int64